<div class="row">
  <div class="col-6">
    <h1>Bienvenido a Manada</h1>
    <p class="lead">Encuentra cafeterías, espacios de coworking o lugares públicos de donde puedas trabajar facilmente en León</p>
  </div>
  <div class="col-6">
    <%= image_tag "hero", class: "hero-img" %>
  </div>
</div>
<br>
<h2>Nuestra Selección</h2>
<div class="d-flex flex-row justify-content-around flex-wrap">
  <% @places.each do |place| %>
  <div class="card mb-5" style="width: 18rem;">
    <img src="<%= place[:url] %>" class="card-img-top">
    <div class="card-body">
      <p class="card-text">
      <% place[:tags].each do |place_tag| %>
        <span class="badge badge-pill badge-<%= place_tag[:color] %>"><%= place_tag[:label] %> </span>
      <% end %>
      </p>
      <h5 class="card-title"><%= place[:name] %></h5>
      <p class="card-text"><%= place[:address] %></p>
    </div>
  </div>
  <% end %>
</div>
<br>
<br>
<br>
<%= @places %>
